<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="/" method="get">-->
<!--    <button type="submit">Повернутися до меню додавання</button>-->
<!--</form>-->


<!--<form action="/exact-book" method="post">-->
<!--    <br>-->
<!--    Open Book Page-->
<!--    <br>-->
<!--    Book index:  &nbsp &nbsp<input type="number" name="bookId" >-->
<!--    <br>-->
<!--    <button type="submit">Go To Book Page</button>-->
<!--</form>-->

<!--<table border="1" width="100%">-->
<!--    <thead>-->
<!--    <td>Назва книги</td>-->
<!--    <td>ISBN</td>-->
<!--    <td>Автор</td>-->
<!--    </thead>-->
<!--    <tr th:each="book: ${bookStorage}">-->
<!--        <td th:text="${book.bookname}"/>-->
<!--        <td th:text="${book.isbn}"/>-->
<!--        <td th:text="${book.author}"/>-->
<!--    </tr>-->
<!--</table>-->
<!--<br>-->
<!--</body>-->
<!--</html>-->